.fukidashi {
  display: none;
  padding: 16px;
  border-radius: 5px;
  background: #516c9d;
  color: #fff;
}
.upon-fukidashi:hover + .fukidashi {
  display: block;
}

.btn-primary {
  background-color: #516c9d;
  border-color: #516c9d;

  &:hover {
    background-color: #355a9e;
    border-color: #355a9e;    
  }
}
